[submodule "cookbooks/apache2"]
	path = cookbooks/apache2
	url = https://github.com/opscode-cookbooks/apache2.git
[submodule "cookbooks/apt"]
	path = cookbooks/apt
	url = https://github.com/opscode-cookbooks/apt.git
[submodule "cookbooks/php"]
	path = cookbooks/php
	url = https://github.com/opscode-cookbooks/php.git
[submodule "cookbooks/git"]
	path = cookbooks/git
	url = https://github.com/opscode-cookbooks/git.git
[submodule "cookbooks/mysql"]
	path = cookbooks/mysql
	url = https://github.com/opscode-cookbooks/mysql.git
[submodule "cookbooks/openssl"]
	path = cookbooks/openssl
	url = https://github.com/opscode-cookbooks/openssl.git
[submodule "cookbooks/composer"]
	path = cookbooks/composer
	url = https://github.com/ushios/cookbook-composer.git
[submodule "cookbooks/memcached"]
	path = cookbooks/memcached
	url = https://github.com/ushios/cookbook-memcached.git
